/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Header Area */
header {
    margin: 44px 0 144px 76px;
}

.link-header {
    margin-right: 23px;
    color: #989D9C;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.button-header {
    width: 130px;
    height: 41px;
    background-color: #665AE1;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    border: none;
    border-radius: 20.5px;
    cursor: pointer;
}

/* Main Content */
.logo-image {
    display: inline-block;
    margin-left: 125px;
}

section {
    display: inline-block;
    width: 515px;
    margin-left: 86px;
}

section h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
}

section h2 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
}

section p {
    margin-top: 32px;
    margin-bottom: 65px;
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.button-main {
    width: 239px;
    height: 64px;
    background-color: #ADFF00;
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* @media screen Tablet */

@media screen and (max-width: 820px) {

    header {
        margin: 32px auto;
        text-align: center;
    }

    .link-header {
        margin-right: 12px;
        color: #989D9C;
        font-size: 18px;
    }

    .button-header {
        width: 100px;
        height: 30px;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    .logo-image {
        display: block;
        width: 448px;
        margin: 0 auto; 
    }

    section {
        display: block;
        margin: 32px auto; 
    }

    .button-main {
        display: block;
        margin: auto;
    }

    section h1 {
        font-size: 50px;
        line-height: 61px;
    }

    section h2 {
        margin-top: 7px;
        margin-bottom: 17px;
        font-size: 30px;
        line-height: 37px;
    }

    section p {
        font-size: 20px;
    }

}

/* @media screen Smartphone */

@media screen and (max-width: 550px) {

    header {
        display: none;
    }

    .logo-image {
        width: 368px;
        margin-top: 149px;  
        margin-bottom: 24px;
    }    
    
    section {
        width: 263px;
    }
    
    section h1 {
        text-align: center;
    }

    section h2 {
        text-align: center;
    }

    section p {
        display: none;
    }

}